.active {
  background: #ffb644;
  padding: 2px 5px;
  border-radius: var(--radius);
}
.logo {
  width: 4rem;
}
.cart-icon {
  width: 3rem;
}
.navbar {
  display: flex;
  justify-content: space-around;
  padding: 6px;
  box-shadow: 0 1px 4px black;
  background: #ffffff;
  position: sticky;
  top: 0;
}
.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav-logo p {
  color: #171717;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  color: #626262;
  font-size: 20px;
  margin-top: 0.5rem;
}
.nav-menu li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3px;
  cursor: pointer;
}
.nav-menu li a {
  text-decoration: none;
  color: #626262;
}
.nav-menu hr {
  border: none;
  width: 80%;
  height: 3px;
  border-radius: 10px;
  background: #ff4141;
}
.nav-login-cart {
  display: flex;
  align-items: center;
  gap: 45px;
}
.nav-login-cart button {
  width: 137px;
  height: 45px;
  outline: none;
  border: 1px solid #7a7a7a;
  border-radius: 75px;
  color: #515151;
  font-size: 20px;
  font-weight: 500;
  background: #ffffff;
  cursor: pointer;
}
.nav-login-cart button:active {
  background: #f3f3f3;
}
.nav-cart-count {
  width: 22px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -35px;
  margin-left: -55px;
  border-radius: 11px;
  font-size: 14px;
  background: red;
  color: #ffffff;
}
.barIcon {
  position: absolute;
  font-size: 30px;
  right: 20px;
  top: 20px;
  display: none;
  cursor: pointer;
}

.barIcon:hover {
  transform: rotate(180deg);
}
.navflex {
  display: flex;
  gap: 10px;
}
@media screen and (max-width: 800px) {
  .barIcon {
    display: block;
  }
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar nav {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
  }
  .navbar nav.open {
    display: flex;
    background-color: #ffffff;
  }
  .nav-menu {
    flex-direction: column;
  }
  .nav-login-cart {
    gap: 5px;
  }
  .navflex {
    display: block;
  }
}
