.productdisplay {
  display: flex;
  margin: 0 120px;
}
.productdisplay_left {
  display: flex;
}
.display_img_list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 200px;
}
.display_img_list img {
  object-fit: cover;
  flex-grow: 1;
  width: 80%;
  border-radius: var(--radius);
}
.mainimg {
  object-fit: cover;
  flex-grow: 1;
  height: 500px;
  border-radius: var(--radius);
}
.productdisplay_right {
  margin: 0 20px;
  display: flex;
  flex-direction: column;
}
.productdisplay_right h1 {
  font-size: 40px;
}
.fa-star,
.fa-star-half {
  color: #ff9900;
  font-size: 16px;
  margin-top: 10px;
}

@media screen and (max-width: 1300px) {
  .productdisplay {
    margin: 0 50px;
  }
  .size {
    gap: 5px;
  }
  .size div {
    padding: 10px 15px;
    font-size: 1rem;
  }
}
@media screen and (max-width: 1000px) {
  .productdisplay {
    margin: 10px;
  }
}

@media screen and (max-width: 800px) {
  .productdisplay {
    display: block;
    margin: 0;
    padding: 5px;
  }
  .mainimg {
    object-fit: cover;
    flex-grow: 1;
    height: 300px;
  }
  .productdisplay_star {
    display: flex;
    align-items: center;
  }
}
